In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list = ['Hi',22,40.3]

In [4]:
my_list

['Hi', 22, 40.3]

In [5]:
len(my_list)

3

In [8]:
my_list = [1,'two',3,'four',5]

In [10]:
my_list[0:]

[1, 'two', 3, 'four', 5]

In [11]:
my_list[1:]

['two', 3, 'four', 5]

In [12]:
my_list[:-1]

[1, 'two', 3, 'four']

In [13]:
my_list.append(9)

In [14]:
my_list

[1, 'two', 3, 'four', 5, 9]

In [16]:
my_list.pop(-1)

9

In [17]:
my_list

[1, 'two', 3, 'four', 5]

In [20]:
my_list.insert(0,9)

In [21]:
my_list

[9, 1, 'two', 0, 3, 'four', 5]

In [22]:
my_list = my_list + ['new item']

In [23]:
my_list

[9, 1, 'two', 0, 3, 'four', 5, 'new item']

In [24]:
len(my_list)

8

In [25]:
my_list * 2

[9,
 1,
 'two',
 0,
 3,
 'four',
 5,
 'new item',
 9,
 1,
 'two',
 0,
 3,
 'four',
 5,
 'new item']

In [26]:
#doubling not permanent
my_list

[9, 1, 'two', 0, 3, 'four', 5, 'new item']

In [27]:
new_list = [1,9,6,7,4,6,2]

In [28]:
new_list.sort()

In [29]:
new_list

[1, 2, 4, 6, 6, 7, 9]

In [30]:
new_list.reverse()

In [31]:
new_list

[9, 7, 6, 6, 4, 2, 1]

In [34]:
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]

matrix = [lst_1, lst_2, lst_3]

In [35]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [36]:
matrix[0]

[1, 2, 3]

In [37]:
matrix[1][0]

4

In [38]:
first_col = [row[0] for row in matrix]

In [39]:
first_col

[1, 4, 7]