In [3]:
#print formatting
print('The first letter is: {},the second letter is: {},the third letter is:{}'
      .format('a', 'b', 'c'))

The first letter is: a,the second letter is: b,the third letter is:c

In [4]:
#we can also manipulate where the argument should appear
print('The first letter is: {2}, The second : {0}, The third : {1}'
      .format('a','b','c'))

The first letter is: c, The second : a, The third : b

In [6]:
#we can also repeat the argument
print('The first:{0},The second:{0},the third:{0}'.format('a'))

The first:a,The second:a,the third:a

In [7]:
print('The number is {0}, and {0},and {0}'.format(20))

The number is 20, and 20,and 20

In [9]:
print('The number is {0},and {0},and {0}'.format(20.445))

The number is 20.445,and 20.445,and 20.445

In [11]:
#using lists,dictionaries and tuples
print('the number is {0}, and {0} , and {0}'.format([30.4,20.5]))

the number is [30.4, 20.5], and [30.4, 20.5] , and [30.4, 20.5]

In [12]:
print('the number is{0}, and {0}, and {0}'.format({'money':'hundred'}))

the number is{'money': 'hundred'}, and {'money': 'hundred'}, and {'money': 'hundred'}

In [13]:
print('the number is {0}, and {1}, and {0}'.format('ASAP Ferg', 'ASAP Rocky'))

the number is ASAP Ferg, and ASAP Rocky, and ASAP Ferg

In [14]:
print('The number is {a},the number is {b}'.format(a=10.55, b=88.0))

The number is 10.55,the number is 88.0

In [16]:
s = 'STRING'
print('Place another string with a mod ans s: %s' %(s))

Place another string with a mod ans s: STRING

In [17]:
print('Floating point numbers: %1.3f' %(14.4567))

Floating point numbers: 14.457

In [18]:
print('Floating number is: %1.1f' %(14.4567))

Floating number is: 14.5

In [19]:
print('Floating number is: %11.6f' %(14.4567))

Floating number is:   14.456700

In [20]:
print('Floating number is: %14.8f' %(14.45678))

Floating number is:    14.45678000

In [22]:
print('Here is a number: %s, Here is a string: %s' %(10.3, 'hello'))

Here is a number: 10.3, Here is a string: hello

In [23]:
print('Here is a number: %r, Here is a string: %r' %(6.3,'hii'))

Here is a number: 6.3, Here is a string: 'hii'

In [25]:
print('First: %s, Second: %1.5f, Third: %r' %('hey',4.56988, 99))

First: hey, Second: 4.56988, Third: 99

In [26]:
print('This is a string with an {p}'.format(p='insert'))

This is a string with an insert

In [29]:
print('One: {p}, Two: {p}, Three: {p}'.format(p='hello'))

One: hello, Two: hello, Three: hello

In [32]:
print('Obj 1: {t}, Obj2: {i}, Obj 3: {f}'.format(t='hi',i=9, f=99.0))

Obj 1: hi, Obj2: 9, Obj 3: 99.0